# PRIMERA CONEXIÓN API KAGGLE

In [28]:
import kaggle
#{"username":"user_name_kaggle","key":"key_json_kaggle"}
#Hola

## USO KAGGLE API

In [27]:
import os
from kaggle.api.kaggle_api_extended import KaggleApi

# Asegurar que el archivo kaggle.json existe
kaggle_json_path = 'C:\\Users\\diego\\.kaggle\\kaggle.json'

if not os.path.exists(kaggle_json_path):
    raise FileNotFoundError(f"No se encuentra el archivo: {kaggle_json_path}")

# Cambiar los permisos del archivo kaggle.json (esto es opcional en Windows, pero se deja para completitud)
os.chmod(kaggle_json_path, 0o600)

# Configurar la API de Kaggle para que use el archivo kaggle.json
os.environ['KAGGLE_CONFIG_DIR'] = 'C:\\Users\\diego\\.kaggle'

# Inicializar la API de Kaggle
api = KaggleApi()
api.authenticate()

# Descargar el dataset utilizando la API de Kaggle
dataset_url = 'sinderpreet/analyze-the-marketing-spending'
api.dataset_download_files(dataset_url, path='.', unzip=True)

print("Descarga completada.")

Dataset URL: https://www.kaggle.com/datasets/sinderpreet/analyze-the-marketing-spending
Descarga completada.

## IMPORTACIÓN DE LA BASE DESDE LOCAL

In [32]:
import pandas as pd
marketing = pd.read_csv('Marketing.csv',sep=',')
marketing.head()

,id,c_date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307.37,1210,13,1,4981.0
1,2,2021-02-01,facebOOK_tier2,social,348934,220688,16300.20,1640,48,3,14962.0
2,3,2021-02-01,google_hot,search,89459845,22850,5221.60,457,9,1,7981.0
3,4,2021-02-01,google_wide,search,127823,147038,6037.00,1196,24,1,2114.0
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962.20,2258,49,10,84490.0

In [33]:
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             308 non-null    int64
 1   c_date         308 non-null    object
 2   campaign_name  308 non-null    object
 3   category       308 non-null    object
 4   campaign_id    308 non-null    int64
 5   impressions    308 non-null    int64
 6   mark_spent     308 non-null    float64
 7   clicks         308 non-null    int64
 8   leads          308 non-null    int64
 9   orders         308 non-null    int64
 10  revenue        308 non-null    float64
dtypes: float64(2), int64(6), object(3)
memory usage: 26.6+ KB